html, body{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
  }
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.centered h1 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10vw;
    font-weight: 600;
    text-decoration: underline;
}

.bottom1 {
    position: absolute;
    font-family: sans-serif;
    bottom: 8px;
    font-size: 40px;
    font-weight: 300;
    right: 3px;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: #eee;
    z-index: 9999;
    transition: all 300ms ease-in-out;
  }
  
  .scroll-down header {

      transform: translate3d(0, -100%, 0);

  }
  
  .scroll-up header {

      filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
    
  }
  
  
  
  body {
    padding-bottom: 100%;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: rgb(211, 225, 222);
  }

  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: blue;
  }

  nav {

    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }

  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  nav ul li {
    font-weight: 300;
  }
  .about-part {
    height: 300px;
    width: 800px;
  }
  .skills{
    height: 200px;
    width: 300px;
  }
  h2 {
    font-size: 3vw;
  }
  .about-heading{
    text-align: center;
  }
.about_txt{
  font-size: 2vw;
  margin: 50px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}

h3 {
  font-size: 25pt;
}

.parent { 
  display: flex;
  column-gap: 5vw;
} 

.checked {
  color: orange;
}

.rating {
  margin: 20px;
}
.skill-heading {
  margin-right: 50px;
}